body {padding-left:5px; padding-right:5px;}
#logo {width:100%;}
#tag {font-size:14px;}
#nav li {margin:0px; border-left:none; padding-left:5px; padding-right:5px; padding-top:4px; padding-bottom:4px; display: inline-block; font-size:12px;}
#description {display:block; width:auto; font-weight:100; font-size:13px;}
#supported {display:block; width:auto; }
#supported.hidden {display:none;}
#fork {display:none;}
#example { width:auto; display:block; margin:20 auto;
	-moz-box-shadow: inset 0 0 10px 0px #888;
	-webkit-box-shadow: inset 0 0 10px 0px #888;
	box-shadow: inset 0 0 10px 0px #888;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:10px;
	background: #eeeeee;
	border:2px solid #000000;
}
#example pre {padding:0px; margin:0px; font-weight:normal; font-size:8px; te}
#example pre .comment {color:#777777;}
#example pre .function .keyword {color:#000cff;}
#example pre .string {color:#c90202;}
#example pre .literal {color:#08ac00;}
#footer li {margin:0px; padding-left:4px; border:none; padding-right:4px; padding-top:3px; padding-bottom:3px; display: inline-block; font-size:12px; font-weight:100;}
#footer li a { color:#000000; text-decoration:none; font-weight:100;}
#footer li a:hover { color:#843f23;}
#footer li.first {border:none;}